.sidebar {
    position: fixed;
    /* top: 0;
    left: 0; */
  height: 100%;
    width: 280px;
    overflow-y: auto;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
     /* Hide the scrollbar */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  .sidebar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
  .bg {
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: column;

    height: 100vh;
    margin-left: 280px;
  }

  .profile {
    display: flex;
    align-items: center;
    margin-left: 0px;
  }
  
  .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px; /* Add this line to move the profile image to the left */
  }
  
  .user-image span {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
  }


  